<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Festival Cerita Jakarta</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Pacifico" rel="stylesheet">
		<script src="https://use.fontawesome.com/e5b9c61343.js"></script>

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
    {{!-- 		<![if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]> --}}

	</head>
	<body>
		<div class="sidenav-right hidden-sm hidden-xs center-block">
			<p style="font-weight: bold">Presented by</p>
			<img src="http://res.cloudinary.com/suryast/image/upload/c_scale,h_120/v1505024844/rumah_cerita_mandala_2_large_v.4_1_prly5c.png">
			<br>
			<p style="font-weight: bold">Sponsored by</p>
			<img src="http://res.cloudinary.com/suryast/image/upload/c_scale,h_90/v1505134966/Aust_Global_Alumni_Stacked_RGB_POS_pla2he.jpg">
			<br>
			<p style="font-weight: bold">Supported by</p>
		  <img src="http://res.cloudinary.com/suryast/image/upload/c_scale,h_80/v1505024387/logopng_1_xdxo89.png">
		  <img src="">
		  <br>
		</div>

		<div id="header">
			<div class="container">
				<div role="navigation" class="navbar navbar-default" style="color:'#c6306e'";>
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a href="/" class="navbar-brand" style="font-family: 'Pacifico', cursive; color:#c6306e;">Festival Cerita Jakarta</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-left" >
									{{# each navLinks}}
									<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
										<a style="font-weight:bold; color:black" href="{{ href }}">{{ label }}</a>
									</li>
									{{/each}}
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a style="color:black" href="/about">Tentang Kami</a></li>
								<li><a style="color:black" href="/contact">Kontak Kami</a></li>
								<li><a onMouseOver="this.style.color='#000'"
								   onMouseOut="this.style.color='#fff'" class="btn btn-danger pull-right" type="button" style="color:#fff; padding:0.9rem; margin-top:5px; margin-right:0px;" role="button" href="" target="_blank">REGISTRASI</a></li>
								{{#if user}}
								<li><a href="/keystone/signout">KELUAR</a></li>
								{{/if}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<div class="container">
			<h4>MEDIA SOSIAL</h4>
			<div id="footer">
			  <div class="col-sm-4 col-xs-4 col-md-4">
				  <a href="http://www.facebook.com/rumahceritaorg"><i class="fa fa-facebook fa-4x" aria-hidden="true" style="padding-bottom:20px"></i></a>
			  </div>
		  	<div class="col-sm-4 col-xs-4 col-md-4">
		    	<a href="http://www.instagram.com/rumahceritaorg"><i class="fa fa-instagram fa-4x" aria-hidden="true" style="padding-bottom:20px"></i></a>
		  	</div>
			  <div class="col-sm-4 col-xs-4 col-md-4">
				  <a href="http://www.twitter.com/rumahceritaorg"><i class="fa fa-twitter fa-4x" aria-hidden="true" style="padding-bottom:20px"></i></a>
				</div>
			</div>
		</div>
		<div class="container">
			<h4>SPONSOR</h4>
			<div id="footer">
				<div class="row center-block" style="padding-bottom:2rem">
					<div class="col-sm-4 col-xs-12 col-md-4 center-block" style="padding-top:12px">
						<img src="http://res.cloudinary.com/suryast/image/upload/c_scale,h_180/v1505024844/rumah_cerita_mandala_2_large_v.4_1_prly5c.png">
					</div>
					<div class="col-sm-4 col-xs-12 col-md-4 center-block" style="padding-top:12px">
						<img src="http://res.cloudinary.com/suryast/image/upload/c_scale,h_150/v1505134966/Aust_Global_Alumni_Stacked_RGB_POS_pla2he.jpg">
					</div>
					<div class="col-sm-4 col-xs-12 col-md-4 center-block" style="padding-top:12px">
						<img src="http://res.cloudinary.com/suryast/image/upload/c_scale,h_150/v1505024387/logopng_1_xdxo89.png">
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div id="footer">
				<div class="row" style="padding-bottom:2rem">
				 	<div class="col-sm-7 col-md-7 center-block">
						<p>@Festival Cerita Jakarta 2017 </p>
					</div>
					<div class="col-sm-5 col-md-5">
						{{!-- <p>Design and code: <a href="http://twitter.com/ssetiyaputra">@suryast_</a> & <a href="http://twitter.com/rizqinizamil">@rizqinizamil</a></p> --}}
					</div>
				</div>
			</div>
		</div>

		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-2.1.4.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
