<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Festival Cerita Jakarta</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Pacifico" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<div id="header">
			<div class="container">
				<div role="navigation" class="navbar navbar-default" style="color:'#c6306e'";>
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a href="/" class="navbar-brand" style="font-family: 'Pacifico', cursive; color:#c6306e;">Festival Cerita Jakarta</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-left" >
									{{# each navLinks}}
									<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
										<a style="font-weight:bold; color:black" href="{{ href }}">{{ label }}</a>
									</li>
									{{/each}}
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a style="color:black" href="/">About Us</a></li>
								<li><a style="color:black" href="/">Support Us</a></li>
								<li><a style="color:black" href="/contact">Contact Us</a></li>
								<li><a class="btn btn-danger pull-right" type="button" style="color:#fff; padding:0.9rem; margin-top:5px; margin-right:10px;" role="button" href="https://www.eventbrite.com/e/festival-cerita-jakarta-for-web-testing-only-do-not-book-tickets-35160306423?ref=ebtn" target="_blank">TICKET</a></li>
								{{#if user}}
								<li><a href="/keystone/signout">Sign Out</a></li>
								{{/if}}
							</ul>
						</div>
				</div>
			</div>
		</div>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<div class="container">
			<h6>CORE DONORS</h6>
			<div id="footer">
				<div class="row" style="padding-bottom:2rem">
					<div class="col-sm-2 col-md-2" style="padding-top:12px">
						<img src="http://res.cloudinary.com/suryast/image/upload/v1496848122/create-nsw_ie3ejc.svg">
					</div>
					<div class="col-sm-2 col-md-2" style="padding-top:12px">
						<img src="http://res.cloudinary.com/suryast/image/upload/v1496848234/australia-council-for-the-arts_byhq1m.svg">
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<h6>MAJOR PARTNERS</h6>
			<div id="footer">
				<div class="row" style="padding-bottom:2rem">
					<div class="col-sm-2 col-md-2 logo-image-1" style="padding-top:12px">
						<img src="http://res.cloudinary.com/suryast/image/upload/v1496848311/nesa_iw9gas.svg">
					</div>
					<div class="col-sm-2 col-md-2" style="padding-top:12px">
						<img src="http://res.cloudinary.com/suryast/image/upload/v1496848311/sydney-morning-herald_z4wgmw.svg">
					</div>
					<div class="col-sm-2 col-md-2" style="padding-top:12px">
						<img src="http://res.cloudinary.com/suryast/image/upload/v1496848310/gleebooks_g1fvyg.svg">
					</div>
					<div class="col-sm-2 col-md-2" style="padding-top:12px">
						<img src="http://res.cloudinary.com/suryast/image/upload/v1496848309/abc-arts_szkd66.svg">
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div id="footer">
				<div class="row" style="padding-bottom:2rem">
				 	<div class="col-sm-3 col-md-3" style="padding-top:12px">
						<p>@Festival Cerita Jakarta 2017 </p>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="nav nav-pills flex-column flex-sm-row">
						  <li class="nav-item">
						    <a class="nav-link active" href="#">Privacy</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" href="#">Terms & Conditions</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" href="#">Sitemap</a>
						  </li>
						</div>
					</div>
					<div class="col-sm-3 col-md-3" style="padding-top:10px">
						<p>Design and code: <a href="http://twitter.com/ssetiyaputra">@ssetiyaputra</a></p>
					</div>
				</div>
			</div>
		</div>

		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-2.1.4.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
