<div class="container">
	<h1>PROGRAM</h1>
	<h4 class="text-weight-normal">Menampilkan {{ data.events.results.length}} acara.</h4>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Filter kategori..
	    <span class="caret"></span>
	  </button>
	  <br>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="/program" class="active list-group-item">Semua kategori</a></li>
			{{# each data.categories }}
			<li><a href="{{categoryEventUrl key}}" class="false list-group-item">{{name}}</a></li>
			{{/each}}
		</ul>
	</div>
</div>

<div class="container" style="padding-left:0">
	<div class="container-flex">
		{{# each data.events.results}}
		<div class="col-sm-6 col-md-4 col-xs-12" >
			<div class="thumbnail">
				{{#if image}}<img src="{{{cloudinaryUrl image width=400 height=400 crop='fit' }}}">{{/if}}
				<div class="caption">
					<h3 style="padding-bottom:1rem;"><a href="{{eventUrl slug}}">{{{title}}}</a></h3>
					<span class="category-label--blue">{{{categoryList categories}}}</span>
					<p>{{{content.brief}}}</p>
					{{#if content.extended}}<p class="read-more"><a href="{{eventUrl slug}}">Selengkapnya...</a></p>{{/if}}
				</div>
			</div>
		</div>
		{{/each}}
	</div>
	<hr>
</div>
