<div class="container">
	<h1>Index Relawan</h1>
</div>
<div class="container">
	<h4 class="text-weight-normal">Menampilkan {{ data.volunteers.results.length}} relawan.</h4>
	{{#each data.volunteers.results}}
	<div class="col-sm-6 col-md-6" style="padding-left:0">
		<div class="blog">
			<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
				<h2><a href="{{volunteerUrl slug}}">{{{title}}}</a></h2>
				{{#if image}}<img src="{{{cloudinaryUrl image width=250 height=250 crop='fit' }}}" class="img pull-right">{{/if}}
				<p>{{{content.brief}}}</p>
			</div>
		</div>
	</div>
	{{/each}}
</div>
<br>
