<div class="container">
	<h1>PENGISI ACARA</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<h4 class="text-weight-normal">Menampilkan {{ data.writers.results.length}} pengisi acara.</h4>
			<div class="blog">
				{{# each data.writers.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					<h2><a href="{{writerUrl slug}}">{{{name.first}}} {{{name.last}}}</a></h2>
					<p class="lead text-muted">
							{{#if author.name.first}} ditambahkan oleh {{author.name.first}}{{/if}}
					</p>
						<div class="row">
							<div class="col-sm-8 col-md-3=9">
								<p>{{{content.brief}}}</p>
							</div>
							<div class="col-sm-4 col-md-3">
								{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
							</div>
						</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{>writer_pagination}}
</div>
