<div class="container" style="padding-top:2rem">
	<h3>ACARA</h3>
	<div class="container-flex" style="padding-left:0">
		{{# each data.events.results}}
		<div class="col-sm-4 col-md-4">
			<div class="thumbnail">
				{{#if image}}<img src="{{{cloudinaryUrl image width=400 height=400 crop='fit' }}}" style="    -webkit-filter: grayscale(100%); filter: grayscale(100%);">{{/if}}
				<div class="caption">
					<h3><a href="{{eventUrl slug}}">{{{title}}}</a></h3>
					<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
					<p>{{{content.brief}}}</p>
					{{#if content.extended}}<p class="read-more"><a href="{{eventUrl slug}}">Selengkapnya...</a></p>{{/if}}
				</div>
			</div>
		</div>
		{{/each}}
	</div>
	<div class="pull-right">
		<a href="/blog" type="btn btn-link" style="color:black">Tampilkan semua acara...</br></a>
	</div>
</div>
