<div class="container acara" style="padding-top:2rem">
	<h3>ACARA</h3>
		{{#each data.events.results}}
			<div class="container-flex">
				<div class="card-new" >
					<div class="card-thumbnail">
						{{#if image}}<img class="card-left" src="{{{cloudinaryUrl image width=400 height=400 crop='fit' }}}">{{/if}}
						<h5 class="card-style hidden-xs">{{date event_time format=' MMM DD, YYYY'}}
							<div class="hidden-md hidden-lg" >
								<h3 style="padding-top:1rem;"><a href="{{eventUrl slug}}">{{{title}}}</a></h3>
								<span class="category-label--blue">{{{categoryList categories}}}</span>
							</div>
						</h5>
						<h5 class="card-style hidden-sm hidden-md hidden-lg">{{date event_time format=' MMM DD @LT'}}
							<div class="hidden-md hidden-lg" >
								<h3 style="padding-top:1rem;"><a href="{{eventUrl slug}}">{{{title}}}</a></h3>
								<span class="category-label--blue">{{{categoryList categories}}}</span>
							</div>
						</h5>
					</div>
					<div class="card-right hidden-xs">
						<h3 style="padding-top: 2rem; padding-bottom:0.5rem;"><a href="{{eventUrl slug}}">{{{title}}}</a></h3>
						<p style="padding-top:1rem">{{{waktu}}}</p>
						<span class="category-label--blue">{{{categoryList categories}}}</span>
						<div class="separator"></div>
						<div class="container-flex">
							<p style="padding-top:1rem">{{{ content.brief }}}</p>
						</div>
					</div>		
					<a href="{{eventUrl slug}}">
						<div class="fab"><i class="fa fa-arrow-down fa-3x"></i></div>
					</a> 
				</div>
			</div>
		{{/each}}
	<div class="pull-left">
		<a href="/program" type="btn btn-link" style="color:black">Tampilkan semua acara...</br></a>
	</div>
</div>
